# FRC Match Team Metrics
Displays the historical metrics of teams at an event.

## Setup
In your virtual environment, install pandas and matplotlib: 
  `pip install pandas matplotlib`
* If you are using VS Code, it should ask you to install the IPython extensions.
* If this next cell runs with no errors, you are all set.

In [1]:
import util
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

## Functions to get Team and Event names
Some parts of this notebook depend on a team you are interested in.  Other parts of this notebook need to look up the team name.  This section defines a function to look up the team name.  Same things for event name.

In [2]:
def get_team_name(team_id):
    url = f'https://www.thebluealliance.com/api/v3/team/{team_id}'
    return util.call_tba_api(url).json()['nickname']

def get_event_name(event_id):
    url = f'https://www.thebluealliance.com/api/v3/event/{EVENT_KEY}/simple'
    resp = util.call_tba_api(url).json()
    return str(resp['year']) + ' ' + resp['name']

## Default Team and Event

In [3]:
YEAR = '2024'
TEAM = 'frc6223'
EVENT_KEY = '2024wila'

TEAM_NAME = get_team_name(TEAM)
EVENT_NAME = get_event_name(EVENT_KEY)

print(TEAM_NAME, 'at', EVENT_NAME)

Arsenal of Engineering at 2024 Seven Rivers Regional

## Teams at the Event

In [4]:
url = f'https://www.thebluealliance.com/api/v3/event/{EVENT_KEY}/teams/simple'
resp = util.call_tba_api(url).json()
df = pd.DataFrame.from_dict(resp, orient='columns')
print('Team count: ', str(len(df)))
del url, resp
df.drop(columns=['country', 'name', 'team_number'], inplace=True)
df.head(5)

Team count:  54

        city      key                         nickname state_prov
0   Hartford  frc1091                   Oriole Assault  Wisconsin
1   Pewaukee  frc1259                   Paradigm Shift  Wisconsin
2  Middleton  frc1306                       BadgerBOTS  Wisconsin
3  Winnebago  frc1625                      Winnovation   Illinois
4  Milwaukee  frc1675  UPS (Ultimate Protection Squad)  Wisconsin

## Loop through teams to get metrics

In [5]:
df2 = pd.DataFrame(columns=['key', 'events', 'qual_wins', 'qual_loss', 'qual_ties', 'poff_wins', 'poff_loss', 'poff_ties', 'ranking'])
for team in df['key']:
    print('Researching: ', team)
    
    matches = 0
    qual_wins = 0
    qual_loss = 0
    qual_ties = 0
    poff_wins = 0
    poff_loss = 0
    poff_ties = 0
    ranking = []
    
    
    url = f'https://www.thebluealliance.com/api/v3/team/{team}/events/{YEAR}/statuses'
    resp = util.call_tba_api(url).json()
    
    for match in resp:
        details = resp[match]
        
        if details != None and details['qual'] != None:
            matches += 1
            qual_wins += details['qual']['ranking']['record']['wins']
            qual_loss += details['qual']['ranking']['record']['losses']
            qual_ties += details['qual']['ranking']['record']['ties']
            if details['playoff'] != None:
                poff_wins += details['playoff']['record']['wins'] 
                poff_loss += details['playoff']['record']['losses'] 
                poff_ties += details['playoff']['record']['ties'] 
            ranking.append(details['qual']['ranking']['rank'])

    df2.loc[len(df2)] = [team, matches, qual_wins, qual_loss, qual_ties, poff_wins, poff_loss, poff_ties, 0 if len(ranking) == 0 else sum(ranking) / len(ranking)]
    print('  ', matches, qual_wins, qual_loss, qual_ties, poff_wins, poff_loss, poff_ties, ranking)
    
df = df.join(df2.set_index('key'), on='key')
del df2

Researching:  frc1091
   1 5 4 1 0 0 0 [23]
Researching:  frc1259
   1 4 5 1 0 2 0 [17]
Researching:  frc1306
   1 5 5 0 0 0 0 [33]
Researching:  frc1625
   1 7 2 0 1 2 0 [9]
Researching:  frc1675
   1 4 6 0 0 0 0 [28]
Researching:  frc171
   1 4 7 0 0 0 0 [26]
Researching:  frc1710
   1 10 2 0 2 2 0 [6]
Researching:  frc1716
   1 2 7 0 0 0 0 [47]
Researching:  frc2129
   1 6 3 0 3 2 0 [13]
Researching:  frc2194
   1 6 4 0 3 2 0 [13]
Researching:  frc2202
   1 6 4 0 0 0 0 [25]
Researching:  frc2506
   1 2 8 0 0 0 0 [42]
Researching:  frc2704
   1 6 5 0 1 2 0 [21]
Researching:  frc2826
   1 5 6 0 0 2 0 [19]
Researching:  frc2830
   1 4 6 0 3 3 0 [24]
Researching:  frc2977
   1 8 1 0 0 2 0 [3]
Researching:  frc3082
   1 4 5 0 1 2 0 [22]
Researching:  frc3090
   0 0 0 0 0 0 0 []
Researching:  frc3381
   1 6 3 1 0 2 0 [10]
Researching:  frc3418
   1 4 5 0 0 0 0 [33]
Researching:  frc3692
   1 3 7 0 0 0 0 [46]
Researching:  frc4011
   1 5 3 1 0 0 0 [22]
Researching:  frc4021
   1 1 8 0 0 0 0 [54]
Researching:  frc4054
   0 0 0 0 0 0 0 []
Researching:  frc4230
   1 6 2 1 6 1 0 [3]
Researching:  frc5019
   0 0 0 0 0 0 0 []
Researching:  frc5148
   1 6 3 1 0 0 0 [21]
Researching:  frc525
   1 7 2 0 2 2 0 [6]
Researching:  frc5339
   1 3 5 1 0 0 0 [44]
Researching:  frc537
   1 2 8 0 0 0 0 [47]
Researching:  frc5586
   1 3 7 0 0 2 0 [37]
Researching:  frc5826
   1 3 6 0 0 0 0 [44]
Researching:  frc5903
   1 4 5 0 3 3 0 [13]
Researching:  frc5914
   1 3 6 0 1 2 0 [30]
Researching:  frc6166
   0 0 0 0 0 0 0 []
Researching:  frc6223
   1 10 0 0 1 2 0 [1]
Researching:  frc6651
   1 8 3 0 0 2 0 [9]
Researching:  frc6732
   0 0 0 0 0 0 0 []
Researching:  frc7021
   1 5 4 0 0 2 0 [18]
Researching:  frc706
   1 5 5 0 0 0 0 [36]
Researching:  frc7103
   1 6 3 1 0 2 0 [26]
Researching:  frc7619
   1 3 6 0 0 0 0 [40]
Researching:  frc8024
   1 3 8 0 0 0 0 [33]
Researching:  frc8531
   1 3 7 0 0 0 0 [43]
Researching:  frc8700
   1 2 6 1 0 0 0 [43]
Researching:  frc8701
   1 4 5 1 0 0 0 [41]
Researching:  frc8782
   0 0 0 0 0 0 0 []
Researching:  frc8802
   1 2 7 1 0 0 0 [50]
Researching:  frc8803
   1 5 4 0 0 0 0 [31]
Researching:  frc9149
   0 0 0 0 0 0 0 []
Researching:  frc9576
   1 5 3 1 5 0 0 [15]
Researching:  frc9578
   0 0 0 0 0 0 0 []
Researching:  frc967
   1 4 5 0 0 0 0 [29]
Researching:  frc9676
   1 3 6 1 0 0 0 [29]

In [12]:
df.sort_values(by=['qual_wins', 'ranking'], ascending=[False, True], inplace=True, ignore_index=True)
df

,city,key,nickname,state_prov,events,qual_wins,qual_loss,qual_ties,poff_wins,poff_loss,poff_ties,ranking
0,Menomonee Falls,frc6223,Arsenal of Engineering,Wisconsin,1,10,0,0,1,2,0,1.0
1,Olathe,frc1710,The Ravonics Revolution,Kansas,1,10,2,0,2,2,0,6.0
2,La Crescent,frc2977,Sir Lancer Bots,Minnesota,1,8,1,0,0,2,0,3.0
3,Sterling,frc6651,Golden Bots,Illinois,1,8,3,0,0,2,0,9.0
4,Cedar Falls,frc525,Swartdogs,Iowa,1,7,2,0,2,2,0,6.0
5,Winnebago,frc1625,Winnovation,Illinois,1,7,2,0,1,2,0,9.0
6,Duluth,frc4230,TopperBots,Minnesota,1,6,2,1,6,1,0,3.0
7,Manitowoc,frc3381,Droid Rage,Wisconsin,1,6,3,1,0,2,0,10.0
8,Minneapolis,frc2129,Ultraviolet,Minnesota,1,6,3,0,3,2,0,13.0
9,Fond du Lac,frc2194,Fondy Fire,Wisconsin,1,6,4,0,3,2,0,13.0
10,Naperville,frc2704,Roaring Robotics,Illinois,1,6,5,0,1,2,0,21.0
11,New Berlin,frc5148,New Berlin Blitz,Wisconsin,1,6,3,1,0,0,0,21.0
12,Brookfield,frc2202,BEAST Robotics,Wisconsin,1,6,4,0,0,0,0,25.0
13,Manitowoc,frc7103,Robo Remedy @ Mantiowoc Lutheran High School,Wisconsin,1,6,3,1,0,2,0,26.0
14,Loretto,frc9576,Loretto Lightning,Minnesota,1,5,3,1,5,0,0,15.0
15,Arcadia,frc7021,TC Robotics,Wisconsin,1,5,4,0,0,2,0,18.0
16,Oshkosh,frc2826,Wave Robotics,Wisconsin,1,5,6,0,0,2,0,19.0
17,La Crosse,frc4011,πρbοtics (Pi Robotics),Wisconsin,1,5,3,1,0,0,0,22.0
18,Hartford,frc1091,Oriole Assault,Wisconsin,1,5,4,1,0,0,0,23.0
19,Marinette,frc8803,MechaMarines,Wisconsin,1,5,4,0,0,0,0,31.0
20,Middleton,frc1306,BadgerBOTS,Wisconsin,1,5,5,0,0,0,0,33.0
21,Hartland,frc706,Cyberhawks,Wisconsin,1,5,5,0,0,0,0,36.0
22,Westby,frc5903,ThorBots,Wisconsin,1,4,5,0,3,3,0,13.0
23,Pewaukee,frc1259,Paradigm Shift,Wisconsin,1,4,5,1,0,2,0,17.0
24,Minnetonka,frc3082,Chicken Bot Pie,Minnesota,1,4,5,0,1,2,0,22.0
25,Milwaukee,frc2830,Riverside RoboTigers,Wisconsin,1,4,6,0,3,3,0,24.0
26,Platteville,frc171,Cheese Curd Herd,Wisconsin,1,4,7,0,0,0,0,26.0
27,Milwaukee,frc1675,UPS (Ultimate Protection Squad),Wisconsin,1,4,6,0,0,0,0,28.0
28,Marion,frc967,Iron Lions,Iowa,1,4,5,0,0,0,0,29.0
29,Sheboygan Falls,frc3418,RoboRiot,Wisconsin,1,4,5,0,0,0,0,33.0
30,Greendale,frc8701,GRAFFITI,Wisconsin,1,4,5,1,0,0,0,41.0
31,Marshfield,frc9676,Hub City STEAM,Wisconsin,1,3,6,1,0,0,0,29.0
32,Caledonia,frc5914,Robotic Warriors,Minnesota,1,3,6,0,1,2,0,30.0
33,Sparta,frc8024,Robotans,Wisconsin,1,3,8,0,0,0,0,33.0
34,Kiel,frc5586,Bond Brigade,Wisconsin,1,3,7,0,0,2,0,37.0
35,Manitowoc,frc7619,illumiBOTi,Wisconsin,1,3,6,0,0,0,0,40.0
36,Milwaukee,frc8531,TermiKnightors,Wisconsin,1,3,7,0,0,0,0,43.0
37,Houston,frc5339,Hurricanes,Minnesota,1,3,5,1,0,0,0,44.0
38,Chippewa Falls,frc5826,Avis Automata,Wisconsin,1,3,6,0,0,0,0,44.0
39,Janesville,frc3692,Rock N' Robotics,Wisconsin,1,3,7,0,0,0,0,46.0
40,Franklin,frc2506,Saber Robotics,Wisconsin,1,2,8,0,0,0,0,42.0
41,Waupaca,frc8700,W.I.R.E.D,Wisconsin,1,2,6,1,0,0,0,43.0
42,De Pere,frc1716,Redbird Robotics,Wisconsin,1,2,7,0,0,0,0,47.0
43,Sussex,frc537,Charger Robotics,Wisconsin,1,2,8,0,0,0,0,47.0
44,Milwaukee,frc8802,Milwaukee United,Wisconsin,1,2,7,1,0,0,0,50.0
45,Onalaska,frc4021,igKnightion,Wisconsin,1,1,8,0,0,0,0,54.0
46,Winona,frc3090,Chaotic Robotics,Minnesota,0,0,0,0,0,0,0,0.0
47,La Crosse,frc4054,Phoenix Robotics,Wisconsin,0,0,0,0,0,0,0,0.0
48,West Salem,frc5019,Gearbox Heroes,Wisconsin,0,0,0,0,0,0,0,0.0
49,Holmen,frc6166,Thorobotics,Wisconsin,0,0,0,0,0,0,0,0.0
50,Bruce,frc6732,BHS RoboRaiders,Wisconsin,0,0,0,0,0,0,0,0.0
51,Eau Claire,frc8782,TroBotics,Wisconsin,0,0,0,0,0,0,0,0.0
52,River Falls,frc9149,RoboCats,Wisconsin,0,0,0,0,0,0,0,0.0
53,Green Bay,frc9578,Player One,Wisconsin,0,0,0,0,0,0,0,0.0

In [11]:
print(df)

               city      key                                      nickname  \
35  Menomonee Falls  frc6223                        Arsenal of Engineering
6            Olathe  frc1710                       The Ravonics Revolution
15      La Crescent  frc2977                               Sir Lancer Bots
36         Sterling  frc6651                                   Golden Bots
27      Cedar Falls   frc525                                     Swartdogs
3         Winnebago  frc1625                                   Winnovation
24           Duluth  frc4230                                    TopperBots
18        Manitowoc  frc3381                                    Droid Rage
8       Minneapolis  frc2129                                   Ultraviolet
9       Fond du Lac  frc2194                                    Fondy Fire
12       Naperville  frc2704                              Roaring Robotics
26       New Berlin  frc5148                              New Berlin Blitz
10       Brookfield  frc2202                                BEAST Robotics
40        Manitowoc  frc7103  Robo Remedy @ Mantiowoc Lutheran High School
50          Loretto  frc9576                             Loretto Lightning
38          Arcadia  frc7021                                   TC Robotics
13          Oshkosh  frc2826                                 Wave Robotics
21        La Crosse  frc4011                      πρbοtics   (Pi Robotics)
0          Hartford  frc1091                                Oriole Assault
48        Marinette  frc8803                                  MechaMarines
2         Middleton  frc1306                                    BadgerBOTS
39         Hartland   frc706                                    Cyberhawks
32           Westby  frc5903                                      ThorBots
1          Pewaukee  frc1259                                Paradigm Shift
16       Minnetonka  frc3082                               Chicken Bot Pie
14        Milwaukee  frc2830                          Riverside RoboTigers
5       Platteville   frc171                              Cheese Curd Herd
4         Milwaukee  frc1675               UPS (Ultimate Protection Squad)
52           Marion   frc967                                    Iron Lions
19  Sheboygan Falls  frc3418                                      RoboRiot
45        Greendale  frc8701                                      GRAFFITI
53       Marshfield  frc9676                                Hub City STEAM
33        Caledonia  frc5914                              Robotic Warriors
42           Sparta  frc8024                                      Robotans
30             Kiel  frc5586                                  Bond Brigade
41        Manitowoc  frc7619                                    illumiBOTi
43        Milwaukee  frc8531                                TermiKnightors
28          Houston  frc5339                                    Hurricanes
31   Chippewa Falls  frc5826                                 Avis Automata
20       Janesville  frc3692                              Rock N' Robotics
11         Franklin  frc2506                                Saber Robotics
44          Waupaca  frc8700                                     W.I.R.E.D
7           De Pere  frc1716                              Redbird Robotics
29           Sussex   frc537                              Charger Robotics
47        Milwaukee  frc8802                              Milwaukee United
22         Onalaska  frc4021                                   igKnightion
17           Winona  frc3090                              Chaotic Robotics
23        La Crosse  frc4054                              Phoenix Robotics
25       West Salem  frc5019                                Gearbox Heroes
34           Holmen  frc6166                                   Thorobotics
37            Bruce  frc6732                               BHS RoboRaiders
46       Eau Claire  frc8782                                     TroBotics
49      River Falls  frc9149                                      RoboCats
51        Green Bay  frc9578                                    Player One

   state_prov  events  qual_wins  qual_loss  qual_ties  poff_wins  poff_loss  \
35  Wisconsin       1         10          0          0          1          2
6      Kansas       1         10          2          0          2          2
15  Minnesota       1          8          1          0          0          2
36   Illinois       1          8          3          0          0          2
27       Iowa       1          7          2          0          2          2
3    Illinois       1          7          2          0          1          2
24  Minnesota       1          6          2          1          6          1
18  Wisconsin       1          6          3          1          0          2
8   Minnesota       1          6          3          0          3          2
9   Wisconsin       1          6          4          0          3          2
12   Illinois       1          6          5          0          1          2
26  Wisconsin       1          6          3          1          0          0
10  Wisconsin       1          6          4          0          0          0
40  Wisconsin       1          6          3          1          0          2
50  Minnesota       1          5          3          1          5          0
38  Wisconsin       1          5          4          0          0          2
13  Wisconsin       1          5          6          0          0          2
21  Wisconsin       1          5          3          1          0          0
0   Wisconsin       1          5          4          1          0          0
48  Wisconsin       1          5          4          0          0          0
2   Wisconsin       1          5          5          0          0          0
39  Wisconsin       1          5          5          0          0          0
32  Wisconsin       1          4          5          0          3          3
1   Wisconsin       1          4          5          1          0          2
16  Minnesota       1          4          5          0          1          2
14  Wisconsin       1          4          6          0          3          3
5   Wisconsin       1          4          7          0          0          0
4   Wisconsin       1          4          6          0          0          0
52       Iowa       1          4          5          0          0          0
19  Wisconsin       1          4          5          0          0          0
45  Wisconsin       1          4          5          1          0          0
53  Wisconsin       1          3          6          1          0          0
33  Minnesota       1          3          6          0          1          2
42  Wisconsin       1          3          8          0          0          0
30  Wisconsin       1          3          7          0          0          2
41  Wisconsin       1          3          6          0          0          0
43  Wisconsin       1          3          7          0          0          0
28  Minnesota       1          3          5          1          0          0
31  Wisconsin       1          3          6          0          0          0
20  Wisconsin       1          3          7          0          0          0
11  Wisconsin       1          2          8          0          0          0
44  Wisconsin       1          2          6          1          0          0
7   Wisconsin       1          2          7          0          0          0
29  Wisconsin       1          2          8          0          0          0
47  Wisconsin       1          2          7          1          0          0
22  Wisconsin       1          1          8          0          0          0
17  Minnesota       0          0          0          0          0          0
23  Wisconsin       0          0          0          0          0          0
25  Wisconsin       0          0          0          0          0          0
34  Wisconsin       0          0          0          0          0          0
37  Wisconsin       0          0          0          0          0          0
46  Wisconsin       0          0          0          0          0          0
49  Wisconsin       0          0          0          0          0          0
51  Wisconsin       0          0          0          0          0          0

    poff_ties  ranking
35          0      1.0
6           0      6.0
15          0      3.0
36          0      9.0
27          0      6.0
3           0      9.0
24          0      3.0
18          0     10.0
8           0     13.0
9           0     13.0
12          0     21.0
26          0     21.0
10          0     25.0
40          0     26.0
50          0     15.0
38          0     18.0
13          0     19.0
21          0     22.0
0           0     23.0
48          0     31.0
2           0     33.0
39          0     36.0
32          0     13.0
1           0     17.0
16          0     22.0
14          0     24.0
5           0     26.0
4           0     28.0
52          0     29.0
19          0     33.0
45          0     41.0
53          0     29.0
33          0     30.0
42          0     33.0
30          0     37.0
41          0     40.0
43          0     43.0
28          0     44.0
31          0     44.0
20          0     46.0
11          0     42.0
44          0     43.0
7           0     47.0
29          0     47.0
47          0     50.0
22          0     54.0
17          0      0.0
23          0      0.0
25          0      0.0
34          0      0.0
37          0      0.0
46          0      0.0
49          0      0.0
51          0      0.0

In [21]:
df[df['key'] == 'frc8531'].index[0]

36

In [26]:
url = f'https://www.thebluealliance.com/api/v3/event/{EVENT_KEY}/matches/simple'
resp = util.call_tba_api(url).json()
for match in resp:
    if match['match_number'] in [7, 15, 22, 30, 45, 54, 62, 68, 79, 89]:
        print('Match', match['match_number'])
        print('  Red:')
        for team in match['alliances']['red']['team_keys']:
            print('    ', team, df[df['key'] == team].index[0] + 1) 
        print('  Blue:')
        for team in match['alliances']['blue']['team_keys']:
            print('    ', team, df[df['key'] == team].index[0] + 1) 
    # print(match['key'], match['alliances']['red']['team_keys'], match['alliances']['blue']['team_keys'], match['winning_alliance'])

Match 15
  Red:
     frc6223 1
     frc525 5
     frc3082 25
  Blue:
     frc1675 28
     frc2202 13
     frc3418 30
Match 22
  Red:
     frc2506 41
     frc6223 1
     frc9578 54
  Blue:
     frc2194 10
     frc6732 51
     frc5019 49
Match 30
  Red:
     frc8531 37
     frc967 29
     frc6223 1
  Blue:
     frc5914 33
     frc4021 46
     frc8700 42
Match 45
  Red:
     frc3692 40
     frc7021 16
     frc4230 7
  Blue:
     frc6223 1
     frc3418 30
     frc7103 14
Match 54
  Red:
     frc8531 37
     frc1710 2
     frc2704 11
  Blue:
     frc171 27
     frc8782 52
     frc6223 1
Match 62
  Red:
     frc1625 6
     frc6223 1
     frc5019 49
  Blue:
     frc1091 19
     frc8803 20
     frc8782 52
Match 68
  Red:
     frc1091 19
     frc6223 1
     frc5903 23
  Blue:
     frc5339 38
     frc4011 18
     frc9578 54
Match 7
  Red:
     frc3090 47
     frc5826 39
     frc9149 53
  Blue:
     frc7619 36
     frc2129 9
     frc6223 1
Match 79
  Red:
     frc4054 48
     frc3381 8
     frc9576 15
  Blue:
     frc6223 1
     frc706 22
     frc5148 12
Match 89
  Red:
     frc8701 31
     frc6223 1
     frc8803 20
  Blue:
     frc1675 28
     frc5586 35
     frc9676 32